<div class="section">
    <div class="container">
	<div class="row main">
	    <div class="col-xs-12">
		<h1>Интенсив-курс <br/>Как реально продавать через вашу группу "ВКонтакте"</h1>
	    </div>
	</div>

	<div class="row bl-howto">
	    <div class="col-sm-4 arr-h arr-h-1">Как привлекать <br/> клиентов</div>
	    <div class="col-sm-4 arr-h arr-h-2">Из соцсети <br/>"ВКонтакте"</div>
	    <div class="col-sm-4 arr-h arr-h-3">С максимальной <br/>эффективностью</div>
	</div>

	<div class="row bl-timing">
	    <div class="col-sm-4">
		11 апреля <br/>
		в субботу <br/>
		с 10.00 по 19.00
	    </div>
	    <div class="col-sm-4">
		Пять живых сессий <br/>
		от реальных профи <br/>
		по "ВКонтакте"

	    </div>
	    <div class="col-sm-4">
		Живое участие 5000 р <br/>
		Записи сессий 2500 р
	    </div>
	</div>
    </div>
</div>

<div class="section grey-light-bg">
    <div class="container">
	<div class="row bl-person-blockquote ">
	    <div class="col-xs-12 col-sm-2">
		<img src="<%= image_path 'img/blockquote.jpg' %>" alt="Что вы узнаете"/>
	    </div>
	    <div class="col-xs-12 col-sm-10">
		<div class="blockquote-text h2 arr-v arr-v-1">
		    Заставьте вашу группу <br/>
		    "ВКонтакте" работать на ваш бизнес
		</div>
	    </div>
	</div>
	<div class="row bl-desc">
	    <div class="col-xs-12 arr-v arr-v-2">
		<ul>
		    <li>Научитесь постить так, чтобы собирать лайки, комментарии и репосты.</li>
		    <li>Научитесь настраивать рекламу так, чтобы она приносила вам лиды.</li>
		    <li>Научитесь измерять ваши действия, чтобы тратить меньше, а получать больше.</li>
		    <li>Научитесь, наконец, продавать через ваше сообщество!</li>
		</ul>
	    </div>
	</div>
	<div class="row bl-desc">
	    <div class="col-xs-12 arr-v arr-v-3">
		<h2 class="wide-title">На курсе вы узнаете:</h2>
		<ul>
		    <li>Как эффективно вести сообщество? Как получить результат, не делая при этом по 100500 постов в день?</li>
		    <li>Что и как отслеживать, чтобы перестать выбрасывать деньги на ветер? Как выстроить систему аналитики, которая позволит держать руку на пульсе?</li>
		    <li>Как давать рекламу, чтобы конвертировать вашу целевую аудиторию, не сливая бюджет?</li>
		</ul>
	    </div>
	</div>
    </div>
</div>

<div class="section red-bg">
    <div class="container">
	<div class="row bl-desc">
	    <div class="col-xs-12 arr-v arr-v-4">
		<h2>Курс предназначен для вас, если вы:</h2>
		<ul>
		    <li>Понимаете, что во «ВКонтакте» есть ваши потенциальные клиенты, но не знаете, как к ним подкатить. </li>
		    <li>Чувствуете, что запутались во всех этих технологиях, новинках соцсетей, методах продвижения.</li>
		    <li>Ваши попытки продвигаться через «ВКонтакте» реально ни к чему не приводят. Сообщество дохлое, активности мало или нет совсем.</li>
		    <li>Вы, в общем-то, разочарованы во «ВКонтакте», но, видя, что у других-то получается, все еще надеетесь найти способ продвижения через эту соцсеть.</li>
		</ul>
	    </div>
	</div>
    </div>
</div>

<div class="section">
    <div class="container">
	<div class="row bl-desc">
	    <div class="col-xs-12 arr-v arr-v-5">
		<h2 class="wide-title">Практический опыт реальных экспертов</h2>
		<p class="text-center">
		    Вам нужно пообщаться с профессионалами своего дела, которые скажут вам конкретно: что и как делать, чтобы получить результат.
		</p>
	    </div>
	</div>
	<div class="row bl-desc ">
	    <div class="col-xs-12 col-md-10">
		<h3>Кризис — самое время,
		    чтобы начать продавать:</h3>
		<ul>
		    <li>эффективно, без раздутых рекламных бюджетов</li>
		    <li>теплым клиентам, уже подготовленным к покупке</li>
		    <li>постоянно, управляя активностью ваших продаж</li>
		</ul>
	    </div>
	    <div class="col-xs-12">
		<div class="h2 text-primary title-letsdoit wide-title arr-v arr-v-6">
		    Участвуйте в интенсиве и заставьте, наконец, ваше сообщество работать на ваш бизнес!
		</div>
	    </div>

	</div>
    </div>
</div>

<div class="section grey-light-bg">
    <div class="container">
	<div class="row bl-desc">
	    <div class="col-xs-12 ">
		<div class="h3 title-left-long arr-v arr-v-8">
		    Вы узнаете, что делать с вашей группой "ВКонтакте", чтобы от нее был толк.
		</div>
	    </div>
	</div>
    </div>
</div>

<div class="section blue-bg">
    <div class="container">
	<div class="row bl-result">
	    <div class="col-xs-12">

		<div class="row bl-desc ol-numbers">
		    <h2 class="title-result">В результате вы получите</h2>
		    <div class="col-sm-4">
			<div class="ol-number">1.</div>
			<p>
			    Четкий и понятный план действий. Что и как делать: 1, 2, 3...
			</p>
		    </div>
		    <div class="col-sm-4">
			<div class="ol-number">2.</div>
			<p>
			    Знания и умения, необходимые для того, чтобы получить результат
			</p>
		    </div>
		    <div class="col-sm-4">
			<div class="ol-number">3.</div>
			<p>
			    Заряд энергии, необходимый для того, чтобы начать действовать
			</p>
		    </div>
		    <div class="clearfix"></div>
		    <div class="h3 arr-v arr-v-9 h3-start" style="margin: 30px 0 60px;">
			Вы научитесь приводить клиентов из "ВКонтакте" - самой большой соцсети в России,
			в которой есть буквально все. И ваши клиенты тоже:)
		    </div>
		</div>


	    </div>
	</div>
    </div>
</div>

<div class="section grey-light-bg">
    <div class="container">
	<div class="row bl-desc how">
	    <div class="col-xs-12">
		<h2>Как это будет</h2>

		<p >
		    В тесном кругу мы разберем
		    все самые важные темы по "ВКонтакте",
		    лично зададим все вопросы экспертам,
		    развенчаем мифы
		    и просто шикарно потусим, пообщаемся
		    с "себеподобными".
		</p>

		<h3>
		    В камерной обстановке, в красивейшем месте в историческом центре Санкт-Петербурга
		</h3>
		<p>
		    После каждой теоретической сессии идет разбор конкретного кейса одного из участников. Вы поймете, как мыслят профессионалы и чем они руководствуются при работе над сообществами своих клиентов.	<div class="clearfix"></div>
		<div class="h3 arr-v arr-v-10 arr-v-11" style="margin: 60px 0;">
		    Вы сами примете участие в создании стратегии продвижения. Более того, у вас на руках останется чек-лист, по которому вы сможете воспроизвести эту стратегию для вашей группы «ВКонтакте».
		</div>
	    </div>
	</div>
    </div>
</div>

<div class="section purple-bg">
    <div class="container">
	<div class="row bl-contents">
	    <div class="col-xs-12 arr-v arr-v-14">
		<h2><span class="red-underline">Программа курса</span></h2>

		<div class="bl-contents-item row" >
		    <div class="ol-number arr-v arr-v-12">1.</div>
		    <div class="col-md-12 col-xs-10 col-sm-11 col-xs-offset-2 col-sm-offset-1">
			<div class="h3">
			    Как выбрать правильное позиционирование именно для вашего бизнеса?
			</div>
			<p>
			    Подготовка сообщества к продвижению <br/>Какие нужны элементы, чтобы группа могла продавать?
			</p>
		    </div>
		</div>
		<div class="bl-contents-item row" >
		    <div class="ol-number arr-v arr-v-13">2.</div>
		    <div class="col-md-12 col-xs-10 col-sm-11 col-xs-offset-2 col-sm-offset-1">
			<div class="h3">
			Как вести сообщество?
		    </div>
			<p>
			    Где брать контент? <br/>  Как составить контент план?
			</p>
		    </div>
		</div>
		<div class="bl-contents-item row" >
		    <div class="ol-number arr-v arr-v-12">3.</div>
		    <div class="col-md-12 col-xs-10 col-sm-11 col-xs-offset-2 col-sm-offset-1">
			<div class="h3">
			    Что нужно отслеживать и как?
			</div>
			<p>
			    Посещаемость, охват, активность - на какие конкретно параметры обращать внимание?
			</p>
		    </div>
		</div>
		<div class="bl-contents-item row" >
		    <div class="ol-number">4.</div>
		    <div class="col-md-12 col-xs-10 col-sm-11 col-xs-offset-2 col-sm-offset-1">
			<div class="h3">
			    Таргетированная реклама «Вконтакте»
			</div>
			<p>
			    Как выбрать целевой сегмент?<br/>Как сделать объявление, которое превратит просмотры в клиентов?
			</p>
		    </div>
		</div>

	    </div>
	</div>
    </div>
</div>

<div class="section red-bg">
    <div class="container">
	<div class="row bl-persons bl-desc">
	    <div class="col-xs-12 arr-v arr-v-15">
		<h2>Привлекать клиентов вас научат:</h2>
	    </div>
	    <div class="col-xs-12 col-sm-6 bl-persons-item">
		<img src="<%= image_path Query[:gen_speaker_photo_link, 'Дмитрий Румянцев', self] %>" alt="" width="180"/>
		<div class="h4">
		    Дмитрий Румянцев
		</div>
		<p>
		   Автор книги-бестселлера «Продвижение бизнеса во ВКонтакте». Маркетолог, администратор профессионального сообщества «Интернет-маркетинг от А до Я».
		</p>
	    </div>

	    <div class="col-xs-12 col-sm-6 bl-persons-item">
		<img src="<%= image_path Query[:gen_speaker_photo_link, 'Сергей Федюнин', self] %>" alt="" width="180"/>
		<div class="h4">
		    Сергей Федюнин
		</div>
		<p>
		    Основатель и администратор сообщества «Практика SMM» — лучшего сообщества об интернет-маркетинге по версии Websarafan.
		</p>
	    </div>
	    <div class="clearfix"></div>
	    <div class="col-xs-12 col-sm-6 bl-persons-item">
		<img src="<%= image_path Query[:gen_speaker_photo_link, 'Павел Гуров', self] %>" alt="" width="180"/>
		<div class="h4">
		    Павел Гуров
		</div>
		<p>Создатель и руководитель агентства «Feedback Media», SMM-специалист. Выжимает из социальных сетей все их возможности.</p>
	    </div>

	    <div class="col-xs-12 col-sm-6 bl-persons-item">
		<img src="<%= image_path Query[:gen_speaker_photo_link, 'Таисия Кудашкина', self] %>" alt="" width="180"/>
		<div class="h4">
		    Таисия Кудашкина
		</div>
		<p>Организатор этой конференции. Основала «Websarafan.ru» – портал для предпринимателей о развитии бизнеса.</p>
	    </div>

	    <div class="clearfix"></div>

	</div>
    </div>
</div>

<div class="section">
    <div class="container">
	<div class="row bl-desc">
	    <div class="col-xs-12 arr-v arr-v-16">
		<h2>Оплата</h2>
	    </div>
	    <div class="col-xs-12 col-sm-6 bl-price">
		<h3>5000 рублей</h3>
		<p>Живое участие</p>
		<a href="<%= payment_path(product: 'vk_live', code: params[:code]) %>" class="btn btn-danger btn-lg">Хочу клиентов</a>
	    </div>
	    <div class="col-xs-12 col-sm-6 bl-price">
		<h3>2500 рублей</h3>
		<p>Записи</p>
		<a href="<%= payment_path(product: 'vk_records', code: params[:code]) %>" class="btn btn-danger btn-lg">Хочу клиентов</a>
	    </div>

	</div>
    </div>
</div>
