<div class="section">
	<div class="container">
		<div class="row main">
			<div class="col-xs-12">

				<h1>Как привлекать клиентов и продавать через ваши публичные страницы в Facebook</h1>

				<br />
				<h2>Самая масштабная онлайн-конференция от Websarafan</h2>

				<h3 style=" padding-top: 30px;"><b>28 сентября</b> - <b>3 октября</b><br/>(каждый день с <b>18.30</b> до <b>22.00</b><br/>в субботу – с
					<b>11.00</b> до <b>15.00</b>)</h3>

			</div>

		</div>


		<div class="row bl-howto">
			<div class="col-sm-4 arr-h arr-h-1">Пользователи <br />Facebook</div>
			<div class="col-sm-4 arr-h arr-h-2">Ищут в сети <br />товары и услуги</div>
			<div class="col-sm-4 arr-h arr-h-3">Сделайте их <br />своими клиентами</div>
		</div>


		<div class="row bl-timing">
			<div class="col-sm-4">
				Бесплатно <br />
				присоединиться <br />
				к онлайн-трансляции <br />

				<a href="https://websarafan.leadpages.co/leadbox/1422e5a73f72a2%3A165d9f848346dc/5651124426113024/" target="_blank" class="btn-border">Участвовать</a>

			</div>
			<div class="col-sm-4">
				1300 рублей <br />
				запись и все <br />
				материалы курса <br />

				<a href="<%= payment_path(product: 'fb2015_records', code: params[:code]) %>" class="btn-border">Купить</a>

			</div>
			<div class="col-sm-4">
				6000 рублей <br />
				очное участие <br />
				+ записи <br />

				<a href="<%= payment_path(product: 'fb2015_live', code: params[:code]) %>" class="btn-border">Купить</a>
			</div>

		</div>

		
	</div>
</div>

<div class="section grey-light-bg scroll-ll" data-block="s-people">
	<div class="container">
		<div class="row bl-person-blockquote ">
			<div class="col-xs-12 col-sm-2">
				<img src="<%= image_path 'img/blockquote.jpg' %>" alt="Что вы узнаете" />
			</div>
			<div class="col-xs-12 col-sm-10">
				<div class="blockquote-text h2 arr-v arr-v-1">
					Facebook может приносить клиентов и доход. Это доказывают эксперты. Это подтверждает мой собственный опыт продвижения в Facebook. Теперь мы хотим научить этому вас вместе с самыми настоящими профессионалами интернет-маркетинга.
				</div>
			</div>
		</div>
		<div class="row bl-desc">
			<div class="col-xs-12 arr-v arr-v-2">

				Меня зовут Таисия Кудашкина. 4 года назад я создала сайт отзывов Tulp.ru (2 млн уников ежемесячно). Как и всем нам, мне нужны были клиенты и продажи. И я начала раскручивать Tulp.ru в соцсетях.

				<ul style="margin-top: 25px;">

					<li>Начала, как и большинство, с неудач. Ничего не получалось. Смотришь вокруг, вроде у всех все работает, что-то в Facebook происходит, но у меня почему-то не получается.</li>
					<li>Я нашла, как решить проблему: создала Websarafan – блог по маркетингу для предпринимателей, где собрала лучших экспертов, которые рассказывают, как же на самом деле нужно продвигать свой бизнес в соцсетях</li>
					<li>Теперь моя страница и паблик на Facebook работают как надо! У нас самая большая и активная группа по маркетингу для предпринимателей в Facebook. А значит, разобраться в этом можно.</li>
					<li>Теперь те же самые крутые спецы будут рассказывать об этом вам. Точка.</li>

				</ul>
			</div>
		</div>
		<div class="row bl-desc">
			<div class="col-xs-12 arr-v arr-v-3">
				<h2 class="wide-title">На саммите вы узнаете:</h2>
				<ul>
					<li>ПОЗИЦИОНИРОВАНИЕ: Как оформить свою страницу, чтобы она привлекала пользователей?</li>
					<li>КОНТЕНТ-СТРАТЕГИЯ: Как создавать посты, которые собирают лайки и шаринги?</li>
					<li>ЛИДОГЕНЕРАЦИЯ: Как продавать с помощью страниц в Facebook?</li>
					<li>ВИДЕО: Как создавать видео просто, без особых затрат и за короткое время?</li>
					<li>АНАЛИТИКА: Как оценивать и анализировать действия, вычисляя наиболее низкозатратные и эффективные шаги?</li>
					<li>ТАРГЕТИРОВАННАЯ РЕКЛАМА: Как настроить рекламу, чтобы она приносила лидов/клиентов?</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="section red-bg scroll-ll" data-block="s-who">
	<div class="container">
		<div class="row bl-desc">
			<div class="col-xs-12 arr-v arr-v-4">
				<h2>Вам стоит посетить конференцию, если:</h2>
				<ul>
					<li>Вы понимаете, что в Facebook есть ваши потенциальные клиенты, но не знаете, как к ним подкатить.</li>
					<li> Чувствуете себя запутавшимися во всех этих технологиях, новинках соцсетей, методах продвижения, но нуждаетесь в дополнительных рекламных средствах.</li>
					<li>Ваши попытки продвигаться через Facebook реально ни к чему не приводят, сообщество дохлое, активности мало или нет совсем.</li>
					<li> У вас уже есть опыт работы с соцсетями, вы профессионал-маркетолог, но по Facebook  есть “белые пятна”.</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="section">
	<div class="container">
		<div class="row bl-desc">
			<div class="col-xs-12 arr-v arr-v-5">
				<h2 class="wide-title">Практический опыт реальных экспертов</h2>

				<p class="text-center">
					Вам нужно пообщаться с профессионалами своего дела, которые скажут вам конкретно: что и как делать, чтобы получить результат.
				</p>
			</div>
		</div>
		<div class="row bl-desc ">
			<div class="col-xs-12 col-md-10 col-xs-offset-2">
				<h3>Кризис — самое время,
					чтобы начать продавать:</h3>
				<ul>
					<li>эффективно, без раздутых рекламных бюджетов</li>
					<li>теплым клиентам, уже подготовленным к покупке</li>
					<li>постоянно управляя активностью ваших продаж</li>
				</ul>
			</div>
			<div class="col-xs-12">
				<div class="h2 text-primary title-letsdoit wide-title arr-v arr-v-6">
					Участвуйте в саммите по Facebook от Websarafan и заставьте, наконец, ваше сообщество работать на ваш бизнес!
				</div>
			</div>

		</div>
	</div>
</div>

<div class="section grey-light-bg">
	<div class="container">
		<div class="row bl-desc">
			<div class="col-xs-12 ">
				<div class="h3 title-left-long arr-v arr-v-8">
					Facebook может приводить клиентов и он приведет их к вам.
				</div>
			</div>
		</div>
	</div>
</div>

<div class="section blue-bg">
	<div class="container">
		<div class="row bl-result">
			<div class="col-xs-12">

				<div class="row bl-desc ol-numbers">
					<h2 class="title-result">Три кита продвижения в Facebook</h2>

					<div class="col-sm-4">
						<div class="ol-number">1.</div>
						<p>
							Привлекающий покупателя контент
						</p>
					</div>
					<div class="col-sm-4">
						<div class="ol-number">2.</div>
						<p>
							Эффективная рекламная кампания
						</p>
					</div>
					<div class="col-sm-4">
						<div class="ol-number">3.</div>
						<p>
							Постоянная тщательная аналитика
						</p>
					</div>
					<div class="clearfix"></div>
					<div class="h3 arr-v arr-v-9 h3-start" style="margin: 30px 0 60px; text-align: center; font-size: 30px;">
						И ваша страница будет работать на вас
					</div>
				</div>


			</div>
		</div>
	</div>
</div>

<div class="section grey-light-bg">
	<div class="container">
		<div class="row bl-desc how">
			<div class="col-xs-12">
				<h2>Сообщество</h2>

				<p>
					Профессионалы в области маркетинга знают, как важны общение, обмен опытом. В сообществе таких же, как вы, бизнесменов вы узнаете о том, какие методики работают, какие нет, сможете познакомиться с чужим опытом, с успешными и провальными кейсами.
				</p>

				<p>
					Участие в мероприятиях Websarafana – это участие в самом большом в Рунете сообществе по продвижению товаров и услуг.
				</p>

				<div class="clearfix"></div>

				<div class="h3 arr-v arr-v-10 arr-v-11" style="margin: 60px 0;">
					<h2 style="margin: 0; padding-top: 60px;">Реальный опыт под руководством опытных специалистов, уже создавших десятки раскрученных страниц, приносящих живые деньги.</h2>
				</div>

			</div>
		</div>
	</div>
</div>

<div class="section purple-bg scroll-ll" data-block="s-programm">
	<div class="container">
		<div class="row bl-contents">
			<div class="col-xs-12 arr-v arr-v-14">
				<h2><span class="red-underline">Программа саммита</span></h2>

				<div class="bl-contents-item row">
					<div class="ol-number arr-v arr-v-12">1.</div>
					<div class="col-md-12 col-xs-10 col-sm-11 col-xs-offset-2 col-sm-offset-1">
						<div class="h3">
							<span style="display: block; font-size: 18px; margin-bottom: 10px; text-transform: uppercase;">Понедельник, 28 сентября, 18-30 – 22-00</span>
							Определение аудитории и выстраивание воронки продаж
						</div>

						<ol>

							<li>Кто будет покупать ваши товары и услуги в соцсетях и почему аудитория соцсетей самая холодная?(Евгения Хлызова)</li>
							<li>Как превратить пользователей Facebook в покупателей ваших товаров или услуг? Стратегии лидогенерации (Евгения Хлызова)</li>
							<li>Как продавать физические товары через Facebook? (Дмитрий Кривов)</li>
							<li>Маркетинг без бюджета: как наполнить вашу воронку продаж бесплатными лидами из Facebook? (Таисия Кудашкина)</li>

						</ol>

					</div>
				</div>
				<div class="bl-contents-item row">
					<div class="ol-number arr-v arr-v-13">2.</div>
					<div class="col-md-12 col-xs-10 col-sm-11 col-xs-offset-2 col-sm-offset-1">
						<div class="h3">
							<span style="display: block; font-size: 18px; margin-bottom: 10px; text-transform: uppercase;">Вторник, 29 сентября, 18-30 – 22-00</span>
							Позиционирование и контентная стратегия
						</div>

						<ol>
							<li>Трюки, лайфхаки и возможности, которые есть только в Facebook и больше нигде (Павел Гуров)</li>
							<li>Что выбрать: группу или паблик? Как оформить группу или сообщество, чтобы привлекать и продавать: точки контакта в Facebook (Павел Гуров)</li>
							<li>Что и как постить, чтобы сообщество росло? Сколько постов делать в день? Как часто промоутировать свой продукт? Инструменты поиска контента в Facebook (Павел Гуров)</li>
						</ol>

					</div>
				</div>
				<div class="bl-contents-item row">
					<div class="ol-number arr-v arr-v-12">3.</div>
					<div class="col-md-12 col-xs-10 col-sm-11 col-xs-offset-2 col-sm-offset-1">
						<div class="h3">
							<span style="display: block; font-size: 18px; margin-bottom: 10px; text-transform: uppercase;">Среда, 30 сентября, 18-30 – 22-00</span>
							Активность, вовлечение и инструменты
						</div>

						<ol>
							<li>Как зарабатывать в Facebook? Продажа услуг и информационных товаров (Дмитрий Кривов)</li>
							<li>Как разогнать активность в вашем паблике? Что сделать, чтобы люди лайкали, шарили посты и комментировали? (Дмитрий Кривов)</li>
							<li>Сессия определяется</li>
							<li>Создание больших сообществ: с нуля до сотни тысяч подписчиков (Дмитрий Кривов)</li>
						</ol>

					</div>
				</div>
				<div class="bl-contents-item row">
					<div class="ol-number arr-v arr-v-13">4.</div>
					<div class="col-md-12 col-xs-10 col-sm-11 col-xs-offset-2 col-sm-offset-1">
						<div class="h3">
							<span style="display: block; font-size: 18px; margin-bottom: 10px; text-transform: uppercase;">Четверг, 1 октября, 18-30 – 22-00</span>
							Видео в Facebook
						</div>

						<ol>
							<li>Как, используя видео в Facebook, набрать на свою страницу лояльных подписчиков? (Виталий Пронин)</li>
							<li>Как легко своими руками создавать продающий видеоконтент для Facebook? (Виталий Пронин)</li>
							<li>Как продвигать видео в Facebook: инструменты видеомаркетинга (Виталий Пронин)</li>
						</ol>

					</div>
				</div>
				<div class="bl-contents-item row">
					<div class="ol-number arr-v arr-v-12">5.</div>
					<div class="col-md-12 col-xs-10 col-sm-11 col-xs-offset-2 col-sm-offset-1">
						<div class="h3">
							<span style="display: block; font-size: 18px; margin-bottom: 10px; text-transform: uppercase;">Пятница, 2 октября, 18-30 – 22-00</span>
							Аналитика в Facebook
						</div>

						<ol>
							<li>Аналитика страницы: как делать выводы из параметров, которые вы видите в статистике постов: что и как измерять, чтобы повысить точность своих действий (Андрей Зюзиков)</li>
							<li>Как понять, насколько хорошо мой маркетолог ведет мою страницу? (Андрей Зюзиков)</li>
							<li>Как использовать инструменты Facebook-аналитики, чтобы увеличивать число ваших подписчиков? (Андрей Зюзиков)</li>
							<li>Интеграция Facebook и вашего блога: как отследить источник переходов? (Андрей Зюзиков)</li>
						</ol>

					</div>
				</div>
				<div class="bl-contents-item row">
					<div class="ol-number">6.</div>
					<div class="col-md-12 col-xs-10 col-sm-11 col-xs-offset-2 col-sm-offset-1">
						<div class="h3">
							<span style="display: block; font-size: 18px; margin-bottom: 10px; text-transform: uppercase;">Суббота, 3 октября, 11-00 – 15-00</span>
							Таргетированная реклама в Facebook
						</div>

						<ol>
							<li>Выбор стратегии для вашего типа бизнеса при настройке таргетированной рекламы в Facebook (Виктория Виноградова)</li>
							<li>Поиск ЦА: Как среди всех пользователей Facebook выделить тех, кто станет вашим покупателем? (Виктория Виноградова)</li>
							<li>Как создать идеальное объявление (сплит-тестирование объвлений)? (Павел Бесхитров)</li>
							<li>Как анализировать результаты и как работать над улучшением показателей (экспресс-аналитика результатов рекламной кампании) (Павел Бесхитров)</li>
							<li>Как настроить рекламную кампанию, которая обеспечит самую низкую стоимость целевого действия? (Виктория Виноградова)</li>
						</ol>

					</div>
				</div>


				<div style="text-align: center; padding-bottom: 10px;">

					<button id="btn-pay-now" class="btn-bbg btn-pay-now">Зарегистрироваться сейчас</button>

				</div>

			</div>
		</div>
	</div>
</div>

<div class="section red-bg scroll-ll" data-block="s-spiker">
	<div class="container">
		<div class="row bl-persons bl-desc">
			<div class="col-xs-12 arr-v arr-v-15">
				<h2>Привлекать клиентов в Facebook вас научат:</h2>
			</div>

			<div class="col-xs-12 col-sm-6 bl-persons-item">
				<img src="<%= image_path Query[:gen_speaker_photo_link, 't.kudashkina', self] %>" alt="Таисия Кудашкина" width="180" />

				<div class="h4">
					Таисия Кудашкина
				</div>

				<ol>
					<li>Генеральный директор сайта отзывов Tulp.ru (2 млн. посетителей в месяц).</li>
					<li>Основатель Websarafan.ru.</li>
					<li>Администратор самой большой и активной группы по маркетингу для предпринимателей Websarafan.ru (7 тысяч подписчиков).</li>
				</ol>

				<p>Основатель этой конференции, главный “управляющий” всей этой тусовки и еще человек, который сделал группу websarafan  без единой копейки бюджета.</p>

			</div>

			<div class="col-xs-12 col-sm-6 bl-persons-item">
				<img src="<%= image_path Query[:gen_speaker_photo_link,'v.vinogradova', self] %>" alt="Виктория Виноградова" width="180" />

				<div class="h4">
					Виктория Виноградова
				</div>

				<ol>
					<li>Генеральный директор компании Marketeam (агентство, разрабатывающее рекламные кампании в Facebook для малого и среднего бизнеса).</li>
					<li>В копилке Виктории более 100 успешных проектов на Facebook и несколько десятков компаний, прошедших обучение.</li>
				</ol>

				<p>Ведущий специалист Рунета по таргетированной рекламе</p>

			</div>

			<div class="clearfix"></div>

			<div class="col-xs-12 col-sm-6 bl-persons-item">
				<img src="<%= image_path Query[:gen_speaker_photo_link, 'a.zuzikov', self] %>" alt="Андрей Зюзиков" width="180" />

				<div class="h4">
					Андрей Зюзиков
				</div>

				<ol>
					<li>Основатель и администратор страницы “Мастерская фан-страниц” (15 тыс. подписчиков). Настроил таргетинг для более, чем 60 компаний.</li>
					<li>Один из самых известных специалистов по таргетингу на Facebook</li>
				</ol>

			</div>

			<div class="col-xs-12 col-sm-6 bl-persons-item">
				<img src="<%= image_path Query[:gen_speaker_photo_link, 'e.hlizova', self] %>" alt="Евгения Хлызова" width="180" />

				<div class="h4">
					Евгения Хлызова
				</div>

				<ol>
					<li>Интернет-маркетолог в Tulp.ru (2 млн посетителей в месяц)</li>
					<li>Методолог Websarafan.ru</li>
				</ol>

				<p>Специалист по разработке стратегии продвижения бизнеса в интернете и построению воронок продаж.</p>

			</div>

			<div class="clearfix"></div>

			<div class="col-xs-12 col-sm-6 bl-persons-item">
				<img src="<%= image_path Query[:gen_speaker_photo_link, 'd.krivov', self] %>" alt="Дмитрий Кривов" width="180" />

				<div class="h4">
					Дмитрий Кривов
				</div>

				<ol>
					<li>Автор блога dimkrivov.ru.</li>
					<li>Продал через Facebook более 9000 физических товаров.</li>
					<li>Владелец самой большой личной сети страниц в Facebook на 1.5 млн поклонников.</li>
					<li>Привлек более 1.000.000 поклонников на страницы различных брендов.</li>
				</ol>

				<p>Работал с такими брендами, как Lexus, Rich и TomTailor.</p>

			</div>

			<div class="col-xs-12 col-sm-6 bl-persons-item">
				<img src="<%= image_path Query[:gen_speaker_photo_link, 'v.pronin', self] %>" alt="Виталий Пронин" width="180" />

				<div class="h4">
					Виталий Пронин
				</div>

				<ol>
					<li>Автор книги "20 Потенциальных Клиентов Каждый День с Помощью Facebook".</li>
					<li>За плечами- более 50 успешных кейсов продвижения бизнесов с помощью видео в Facebook.</li>
				</ol>

				<p>Редкий специалист по продвижению в Facebook и YouTube одновременно.</p>

			</div>

			<div class="clearfix"></div>

			<div class="col-xs-12 col-sm-6 bl-persons-item">
				<img src="<%= image_path Query[:gen_speaker_photo_link, 'p.beshitrov', self] %>" alt="Павел Бесхитров" width="180" />

				<div class="h4">
					Павел Бесхитров
				</div>

				<ol>
					<li>Автор блога SMM-manager.ru.</li>
					<li>Создатель и главный редактор журнала «Соцсети в помощь бизнесу».</li>
					<li>За время работы создал около 250 рекламных кампаний c ценой взаимодействия от 30 коп и с максимальным CTR объявлений 21,5%.</li>
				</ol>

				<p>Специалист по продвижению в Facebook для b2b</p>

			</div>

			<div class="col-xs-12 col-sm-6 bl-persons-item">
				<img src="<%= image_path Query[:gen_speaker_photo_link, 'Павел Гуров', self] %>" alt="Павел Гуров" width="180" />

				<div class="h4">
					Павел Гуров
				</div>

				<ol>
					<li>Создатель и руководитель агентства «Feedback Media» (более 70 успешных кейсов).</li>
					<li>Преподаватель Европейского Университета и СПбГУ.</li>
				</ol>

				<p>По праву считается специалистом по редким социальным сетям</p>

			</div>

			<div class="clearfix"></div>

		</div>
	</div>
</div>

<div class="section scroll-ll" data-block="s-reg" style="padding: 100px 0 30px;">
	<div class="container">
		<div class="col-xs-12 arr-v arr-v-16">
			<h2>Оплата</h2>
		</div>
		<div class="col-xs-12 col-sm-4 bl-price bl-price-f">
			<h3>Бесплатно</h3>

			<p>Присоединиться к онлайн-трансляции и стать членом огромного сообщества людей, продвигающих свой бизнес в сети</p>
			<a href="https://websarafan.leadpages.co/leadbox/1422e5a73f72a2%3A165d9f848346dc/5651124426113024/" target="_blank" class="btn btn-danger btn-lg">Участвовать</a>

		</div>

		<div class="col-xs-12 col-sm-4 bl-price bl-price-f">
			<h3>1300 рублей</h3>

			<p>Получить запись  и все материалы курса, чтобы усвоить приемы, которые будут приносить вам ежемесячную прибыль от ваших продаж
			</p>

			<a href="<%= payment_path(product: 'fb2015_records', code: params[:code]) %>" class="btn btn-danger btn-lg">Купить</a>
		</div>

		<div class="col-xs-12 col-sm-4 bl-price bl-price-f">
			<h3>6000 рублей</h3>

			<p>( у нас всего 15 мест! )<br /> Прийти лично, чтобы получить ответы экспертов на свои вопросы и убедиться, что наши спикеры учат эффективным приемам продвижения
			</p>
			<a href="<%= payment_path(product: 'fb2015_live', code: params[:code]) %>" class="btn btn-danger btn-lg">Купить</a>
		</div>


	</div>
</div>

<div class="section blue-bg" style="text-align: center;">
	<div class="container">
		<div class="row bl-desc">
			<div class="col-xs-12">
				<h2>Отзывы о вебинарах наших спикеров</h2>
			</div>
		</div>
		<div class="row bl-desc">
			<div class="col-xs-12">

				<h4 style="text-align: center;">Отзывы о вебинаре Виктории Винградовой</h4>

				<img src="<%= image_path Query[:gen_speaker_photo_link, 'vse-spasibo-vebinara', self] %>" alt="Виктория Виноградова отзывы" />
			</div>
		</div>

		<div class="row bl-desc">
			<div class="col-xs-12">

				<h4 style="text-align: center;">Отзывы о вебинаре Павла Гурова</h4>

				<img src="<%= image_path Query[:gen_speaker_photo_link, 'pavel_review', self] %>" alt="Павел Гуров отзывы" />
			</div>
		</div>

	</div>
</div>
