<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Define Charset -->
    <meta charset="utf-8"/>
    <!-- Page Title -->
    <title>Conference Marketing Landing Page Template</title>
    <!-- Responsive Metatag -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=9" />-->
    <!-- CSS -->
    <%= stylesheet_link_tag "css/vendors/bootstrap.min.css" %>
    <!-- Font icons -->
    <%= stylesheet_link_tag "css/vendors/fontello.css" %>
    <!--[if IE 7]>
    <%= stylesheet_link_tag "css/fontello-ie7.css" %>
    <![endif]-->
    <!-- Owl Carousel -->
    <%= stylesheet_link_tag "js/vendors/owl-carousel/owl.carousel.css" %>
    <%= stylesheet_link_tag "js/vendors/owl-carousel/owl.theme.css" %>
    <!-- fancybox.js -->
    <%= stylesheet_link_tag "js/vendors/fancybox/jquery.fancybox.css" %>
    <!-- Animate.css -->
    <%= stylesheet_link_tag "css/vendors/animate.css" %>
    <!-- Custom CSS -->
    <%= stylesheet_link_tag "css/styles.css" %>
    <%= stylesheet_link_tag "css/color/red.css" %>
    <!-- Custom Media-Queties -->
    <%= stylesheet_link_tag "css/media-queries.css" %>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>        
    <![endif]-->

    <!-- Media queries -->
    <!--[if lt IE 9]>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
  </head>
  <body>

    <!-- begin Header -->
    <header>
      
      <!-- begin Home -->
      <article class="home parallax" id="home" data-speed="6">
	<div class="container">
	  <div class="row">
	    <div class="col-md-6">
	      <h3>Онлайн конференция для умных маркетологов</h3>
	      <h1>Вы научитесь реально круто продвигать компанию</h1>

	      <a class="btn btn-home" href="#pricing"><i class="icon-star"></i>Я хочу!</a>
	      <a class="btn btn-home show-video" href="#" data-target="#video-modal"><i class="icon-eye"></i>Смотреть видео</a>
	    </div>
	    <div class="col-md-6">
	      <figure class="idea animated" data-animation="fadeInUp" data-animation-delay="200" ><img src="<%= image_path('img/light-bulb-4.png') %>" alt="//" /></figure>
	      <figure class="women animated" data-animation="fadeInUp" data-animation-delay="400"><img src="<%= image_path('img/women-head.png') %>" alt="//" /></figure>
	      <figure class="men animated" data-animation="fadeInUp" data-animation-delay="600"><img src="<%= image_path('img/men-head.png') %>" alt="//" /></figure>
	    </div>
	  </div>
	</div>

	<div class="top-bar">
	  <div class="container animated" data-animation="slideInLeft" data-animation-delay="200">
	    <div class="col-xs-6 col-md-3">
	      <i class="icon-clock"></i>
	      <strong>с 17 по 22 ноября</strong>
	      <span>20 спикеров</span>
	    </div>
	    <div class="col-xs-6 col-md-3">
	      <i class="icon-calendar"></i>
	      <strong>пять онлайн-сессий</strong>
	      <span>с 13-00 до 16-00 ежедневно</span>
	    </div>
	    <div class="col-xs-6 col-md-3">
	      <i class="icon-megaphone"></i>
	      <strong>mp3 и видео</strong>
	      <span>записи сессий</span>
	    </div>
	    <div class="col-xs-6 col-md-3">
	      <i class="icon-tag"></i>
	      <strong>5000 рублей</strong>
	      <span></span>
	    </div>
	  </div>
	</div>

	<!-- begin Navbar -->
	<nav class="navbar" role="navigation">
	  <div class="container">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#"><img src="<%= image_path('img/logo.png') %>" alt="//"></a>
	    </div>
	    
	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse">
	      <a class="btn" href="#registration"><i class="icon-star"></i>Registration</a>
	      <ul class="nav navbar-nav menu-effect">	
		<li class="active"><a href="#home">Главная</a></li>
		<li><a href="#topics">Темы</a></li>
		<li><a href="#speakers">Эксперты</a></li>
		<li><a href="#program">Программа</a></li>
		<li><a href="#partner">Партнеры</a></li>
		<li><a href="#pricing">Цена</a></li>
	      </ul>
	    </div><!--/.nav-collapse -->
	  </div>
	</nav>
	<!-- end Home -->

      </article>
      <!-- end Home -->
      

    </header>
    <!-- end Header -->



    <!-- begin Content -->
    <section>

      <!-- begin Topics -->
      <article class="topics" id="topics">
	<div class="container">
	  <h4>Что дает конференция?</h4>
	  <h2>Темы</h2>

	  <div class="row">
	    <div class="col-sm-6 col-md-4 topic-item animated" data-animation="lightSpeedIn" data-animation-delay="200">
	      <i class="icon-star"></i>
	      <h3>Позиционирование</h3>
	      <p>Как четко спозиционировать компанию? Пошаговая механика разработки продающего имиджа компании. Аргументы, которые убеждают.</p>
	    </div>
	    <div class="col-sm-6 col-md-4 topic-item animated" data-animation="lightSpeedIn" data-animation-delay="200">
	      <i class="icon-calendar"></i>
	      <h3>Маркетинговый план</h3>
	      <p>Как выстроить маркетинг в каждой отдельной компании? Составляем понедельный маркетинговый план.</p>
	    </div>
	    <div class="col-sm-6 col-md-4 topic-item animated" data-animation="lightSpeedIn" data-animation-delay="200">
	      <i class="icon-chart-line"></i>
	      <h3>Продающий сайт</h3>
	      <p>Как вызвать у клиента ощущения, которые будут стимулировать покупку? Формы, кнопки и цвета на сайте, который приводит клиентов. Тезисы, которые продают.</p>
	    </div>
	    <div class="col-sm-6 col-md-4 topic-item animated" data-animation="lightSpeedIn" data-animation-delay="200">
	      <i class="icon-retweet"></i>
	      <h3>Каналы продвижения</h3>
	      <p>Как выбрать канал продвижения, который подходит именно моей компании? Выбираем между Вконтакте, Facebook, Twitter и Instagram.</p>
	    </div>
	    <div class="col-sm-6 col-md-4 topic-item animated" data-animation="lightSpeedIn" data-animation-delay="200">
	      <i class="icon-database"></i>
	      <h3>Рекламный бюджет</h3>
	      <p>Как продвигать компанию в интернете, не сливая бюджет? Где давать рекламу? Как считать конверсию сайта и развернуть систему аналитики, чтобы оцифровать все значимые процессы?</p>
	    </div>
	    <div class="col-sm-6 col-md-4 topic-item animated" data-animation="lightSpeedIn" data-animation-delay="200">
	      <i class="icon-book-open"></i>
	      <h3>Контент-стратегия</h3>
	      <p>Что такое контент-план и зачем он вам нужен? Что писать на сайте или в соцсетях? Где взять много хорошего контента?</p>
	    </div>
	  </div>

	</div>
      </article>
      <!-- end Topics -->


      <!-- begin Speakers -->
      <article class="speakers" id="speakers">
	<h4>Кто будет вас обучать?</h4>
	<h2>Эксперты</h2>
	
	<div id="carousel-speakers" class="carousel slide animated" data-animation="fadeIn" data-animation-delay="200" data-ride="carousel">
	  <!-- Wrapper for slides -->
	  <div class="carousel-inner">
	    <% Query[:speakers].each_slice(4).each_with_index do |speakers, index| %>
	      <div class="item<%= index == 0 ? ' active' : '' %>">
		<% speakers.each do |speaker| %>
		  <figure class="speakers-item">
		    <img src="<%= speaker.gen_avatar_link.call(self) %>">
		    <div class="txt">
		      <h3><%= speaker.name %></h3>
		    </div>
		    <span class="overthumb"></span>
		    <div class="icons">
		      <h3><%= speaker.name %></h3>
		      <br>
		      <p><%= speaker.desc %></p>
		      <a href="#">facebook</a>
		    </div>
		  </figure>
		<% end %>
	      </div>
	    <% end %>	    
	  </div>
	  

	  <!-- Indicators -->
	  <ol class="carousel-indicators">
	    <li data-target="#carousel-speakers" data-slide-to="0" class="active">1</li>
	    <li data-target="#carousel-speakers" data-slide-to="1">2</li>
	    <li data-target="#carousel-speakers" data-slide-to="2">3</li>
	  </ol>
	</div>

      </article>
      <!-- end Speakers -->



      <!-- begin Program -->
      <article class="program" id="program">
	<div class="container">
	  <h4>Чему вы научитесь?</h4>
	  <h2>Программа</h2>

	  <div class="panel-group animated" data-animation="fadeInDown" data-animation-delay="1000" id="program-accordion">
	    <div class="panel">
	      <div class="panel-heading">
		<h4 class="panel-title">
		  <a data-toggle="collapse" data-parent="#program-accordion" href="#day1">
		    <i class="icon-calendar"></i> Day 1 <small> - 15 June 2018</small><i class="icon-plus-circled"></i>
		  </a>
		</h4>
	      </div>
	      <div id="day1" class="panel-collapse collapse in">
		<div class="panel-body">
		  <div class="program-accordion-item clearfix">
		    <figure>
		      <img src="<%= image_path('img/people/person01.jpg') %>" alt="//">
		      <figcaption>
			<span><i class="icon-clock"></i>10:30</span>
			<span><i class="icon-user"></i>Designer</span>
		      </figcaption>
		    </figure>
		    <h3>Starting your own business</h3>
		    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. </p>
		    <div class="foot">
		      <div class="name"><i class="icon-mic"></i>Mike Smithson</div>
		      <div class="pro">Designer at Montra</div>
		      <div class="links">
			<a href="#"><i class="icon-gplus"></i></a>
			<a href="#"><i class="icon-twitter"></i></a>
			<a href="#"><i class="icon-facebook"></i></a>
			<a href="#"><i class="icon-linkedin"></i></a>
		      </div>
		    </div>
		  </div>
		  
		  <div class="program-accordion-item clearfix">
		    <figure>
		      <img src="<%= image_path('img/people/person02.jpg') %>" alt="//">
		      <figcaption>
			<span><i class="icon-clock"></i>10:30</span>
			<span><i class="icon-user"></i>Designer</span>
		      </figcaption>
		    </figure>
		    <h3>Starting your own business</h3>
		    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.</p>
		    <div class="foot">
		      <div class="name"><i class="icon-mic"></i>Mike Smithson</div>
		      <div class="pro">Designer at Montra</div>
		      <div class="links">
			<a href="#"><i class="icon-gplus"></i></a>
			<a href="#"><i class="icon-twitter"></i></a>
			<a href="#"><i class="icon-facebook"></i></a>
			<a href="#"><i class="icon-linkedin"></i></a>
		      </div>
		    </div>
		  </div>
		</div>
	      </div>
	    </div>
	    <div class="panel">
	      <div class="panel-heading">
		<h4 class="panel-title">
		  <a data-toggle="collapse" data-parent="#program-accordion" href="#day2">
		    <i class="icon-calendar"></i> Day 2 <small> - 04 July 2018</small><i class="icon-plus-circled"></i>
		  </a>
		</h4>
	      </div>
	      <div id="day2" class="panel-collapse collapse">
		<div class="panel-body">
		  <div class="program-accordion-item clearfix">
		    
		    <figure>
		      <img src="<%= image_path('img/people/person03.jpg') %>" alt="//">
		      <figcaption>
			<span><i class="icon-clock"></i>10:30</span>
			<span><i class="icon-user"></i>Designer</span>
		      </figcaption>
		    </figure>
		    <h3>Starting your own business</h3>
		    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. </p>
		    <div class="foot">
		      <div class="name"><i class="icon-mic"></i>Mike Smithson</div>
		      <div class="pro">Designer at Montra</div>
		      <div class="links">
			<a href="#"><i class="icon-gplus"></i></a>
			<a href="#"><i class="icon-twitter"></i></a>
			<a href="#"><i class="icon-facebook"></i></a>
			<a href="#"><i class="icon-linkedin"></i></a>
		      </div>
		    </div>
		  </div>
		  <div class="program-accordion-item clearfix">
		    
		    <figure>
		      <img src="<%= image_path('img/people/person04.jpg') %>" alt="//">
		      <figcaption>
			<span><i class="icon-clock"></i>10:30</span>
			<span><i class="icon-user"></i>Designer</span>
		      </figcaption>
		    </figure>
		    <h3>Starting your own business</h3>
		    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. </p>
		    <div class="foot">
		      <div class="name"><i class="icon-mic"></i>Mike Smithson</div>
		      <div class="pro">Designer at Montra</div>
		      <div class="links">
			<a href="#"><i class="icon-gplus"></i></a>
			<a href="#"><i class="icon-twitter"></i></a>
			<a href="#"><i class="icon-facebook"></i></a>
			<a href="#"><i class="icon-linkedin"></i></a>
		      </div>
		    </div>
		  </div>
		</div>
	      </div>
	    </div>
	    <div class="panel">
	      <div class="panel-heading">
		<h4 class="panel-title">
		  <a data-toggle="collapse" data-parent="#program-accordion" href="#day3">
		    <i class="icon-calendar"></i> Day 3 <small> - 10 July 2018</small><i class="icon-plus-circled"></i>
		  </a>
		</h4>
	      </div>
	      <div id="day3" class="panel-collapse collapse">
		<div class="panel-body">
		  <div class="program-accordion-item clearfix">
		    
		    <figure>
		      <img src="<%= image_path('img/people/person04.jpg') %>" alt="//">
		      <figcaption>
			<span><i class="icon-clock"></i>10:30</span>
			<span><i class="icon-user"></i>Designer</span>
		      </figcaption>
		    </figure>
		    <h3>Starting your own business</h3>
		    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. </p>
		    <div class="foot">
		      <div class="name"><i class="icon-mic"></i>Mike Smithson</div>
		      <div class="pro">Designer at Montra</div>
		      <div class="links">
			<a href="#"><i class="icon-gplus"></i></a>
			<a href="#"><i class="icon-twitter"></i></a>
			<a href="#"><i class="icon-facebook"></i></a>
			<a href="#"><i class="icon-linkedin"></i></a>
		      </div>
		    </div>
		  </div>
		  <div class="program-accordion-item clearfix">
		    
		    <figure>
		      <img src="<%= image_path('img/people/person05.jpg') %>" alt="//">
		      <figcaption>
			<span><i class="icon-clock"></i>10:30</span>
			<span><i class="icon-user"></i>Designer</span>
		      </figcaption>
		    </figure>
		    <h3>Starting your own business</h3>
		    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. </p>
		    <div class="foot">
		      <div class="name"><i class="icon-mic"></i>Mike Smithson</div>
		      <div class="pro">Designer at Montra</div>
		      <div class="links">
			<a href="#"><i class="icon-gplus"></i></a>
			<a href="#"><i class="icon-twitter"></i></a>
			<a href="#"><i class="icon-facebook"></i></a>
			<a href="#"><i class="icon-linkedin"></i></a>
		      </div>
		    </div>
		  </div>
		</div>
	      </div>
	    </div>
	  </div>



	  <!-- Nav tabs -->
	  <a href="downloads/01.pdf" class="btn"><i class="icon-doc-text"></i>Download Schedule</a>
	  <ul class="nav nav-tabs animated" data-animation="flipInX" data-animation-delay="400" role="tablist">
	    <li class="active"><a href="#program-day1" role="tab" data-toggle="tab">Day 1 <em>15 june 2018</em></a></li>
	    <li><a href="#program-day2" role="tab" data-toggle="tab">Day 2 <em>15 june 2018</em></a></li>
	    <li><a href="#program-day3" role="tab" data-toggle="tab">Day 3 <em>15 june 2018</em></a></li>
	  </ul>

	  <!-- Tab panes -->
	  <div class="tab-content animated" data-animation="bounceInUp" data-animation-delay="600">
	    <div class="tab-pane active" id="program-day1">
	      <div class="program-tab-item clearfix">
		<figure>
		  <img src="<%= image_path('img/people/person01.jpg') %>" alt="//">
		</figure>
		<span><i class="icon-clock"></i>2:20 PM</span>
		<h3>Starting your own business</h3>
		<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. </p>
	      </div>

	      <div class="program-tab-item clearfix">
		<figure>
		  <img src="<%= image_path('img/people/person02.jpg') %>" alt="//">
		</figure>
		<span><i class="icon-clock"></i>2:20 PM</span>
		<h3>Starting your own business</h3>
		<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. </p>
	      </div>

	      <div class="program-tab-item clearfix">
		<figure>
		  <img src="<%= image_path('img/people/person03.jpg') %>" alt="//">
		</figure>
		<span><i class="icon-clock"></i>2:20 PM</span>
		<h3>Starting your own business</h3>
		<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. </p>
	      </div>
	    </div>
	    <div class="tab-pane" id="program-day2">
	      <div class="program-tab-item clearfix">
		<figure>
		  <img src="<%= image_path('img/people/person04.jpg') %>" alt="//">
		</figure>
		<span><i class="icon-clock"></i>2:20 PM</span>
		<h3>2. Starting your own business</h3>
		<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. </p>
	      </div>

	      <div class="program-tab-item clearfix">
		<figure>
		  <img src="<%= image_path('img/people/person05.jpg') %>" alt="//">
		</figure>
		<span><i class="icon-clock"></i>2:20 PM</span>
		<h3>Starting your own business</h3>
		<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. </p>
	      </div>

	      <div class="program-tab-item clearfix">
		<figure>
		  <img src="<%= image_path('img/people/person01.jpg') %>" alt="//">
		</figure>
		<span><i class="icon-clock"></i>2:20 PM</span>
		<h3>Starting your own business</h3>
		<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. </p>
	      </div>
	    </div>
	    <div class="tab-pane" id="program-day3">
	      <div class="program-tab-item clearfix">
		<figure>
		  <img src="<%= image_path('img/people/person02.jpg') %>" alt="//">
		</figure>
		<span><i class="icon-clock"></i>2:20 PM</span>
		<h3>3. Starting your own business</h3>
		<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. </p>
	      </div>

	      <div class="program-tab-item clearfix">
		<figure>
		  <img src="<%= image_path('img/people/person03.jpg') %>" alt="//">
		</figure>
		<span><i class="icon-clock"></i>2:20 PM</span>
		<h3>Starting your own business</h3>
		<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. </p>
	      </div>

	      <div class="program-tab-item clearfix">
		<figure>
		  <img src="<%= image_path('img/people/person04.jpg') %>" alt="//">
		</figure>
		<span><i class="icon-clock"></i>2:20 PM</span>
		<h3>Starting your own business</h3>
		<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. </p>
	      </div>
	    </div>
	  </div>
	</div>
      </article>
      <!-- end Program -->




      <!-- begin Testimonials -->
      <article class="testimonials parallax" id="testimonials" data-speed="6">
	<div class="container">
	  <div id="owl-testimonials" class="owl-carousel animated" data-animation="bounceInRight" data-animation-delay="200" >
	    <div class="item">
	      <figure><img src="<%= image_path('img/testimonials/person01.jpg') %>" alt="//"></figure>
	      <p>&quot;Я вас очень люблю и ценю, уверена, конференция будет полезна для широкого круга людей. Я занимаюсь продвижением в соцсетях, развитием каналов на YouTube. Также работаю над интернет-магазином вязаных вещей ручной работы. Каждый день саммита по-своему интересен. Жду с нетерпением!&quot;</p>
	      <div class="author clearfix">
		<i class="icon-chat"></i>
		<h5>Алина Лунёва</h5>
		<em>участник конференции</em>
	      </div>
	    </div>

	    <div class="item">
	      <figure><img src="<%= image_path('img/testimonials/person02.jpg') %>" alt="//"></figure>
	      <p>&quot;2Awesome support, awesome work and great design! We couldn't ask for more from the great folks. Awesome support, awesome.&quot;</p>
	      <div class="author clearfix">
		<i class="icon-chat"></i>
		<h5>Lisa Beck</h5>
		<em>Creative Systems, Founder</em>
	      </div>
	    </div>

	    <div class="item">
	      <figure><img src="<%= image_path('img/testimonials/person03.jpg') %>" alt="//"></figure>
	      <p>&quot;3Awesome support, awesome work and great design! We couldn't ask for more from the great folks. Awesome support, awesome.&quot;</p>
	      <div class="author clearfix">
		<i class="icon-chat"></i>
		<h5>Lisa Beck</h5>
		<em>Creative Systems, Founder</em>
	      </div>
	    </div>
	  </div>
	</div>
      </article>
      <!-- end Testimonials -->



      <!-- begin Patner -->
      <article class="partner animated" data-animation="fadeInUp" data-animation-delay="600" id="partner">
	<div class="container">
	  <h4>Благодарим наших спонсоров</h4>
	  <h2>Партнеры</h2>
	  
	  <div class="owl-carousel" id="owl-partner">
	    <figure class="partner-item">
	      <img src="<%= image_path('img/partners/partner1.png') %>" alt="//">
	    </figure>

	    <figure class="partner-item">
	      <img src="<%= image_path('img/partners/partner2.png') %>" alt="//">
	    </figure>

	    <figure class="partner-item">
	      <img src="<%= image_path('img/partners/partner3.png') %>" alt="//">
	    </figure>

	    <figure class="partner-item">
	      <img src="<%= image_path('img/partners/partner4.png') %>" alt="//">
	    </figure>

	    <figure class="partner-item">
	      <img src="<%= image_path('img/partners/partner1.png') %>" alt="//">
	    </figure>

	    <figure class="partner-item">
	      <img src="<%= image_path('img/partners/partner3.png') %>" alt="//">
	    </figure>

	    <figure class="partner-item">
	      <img src="<%= image_path('img/partners/partner4.png') %>" alt="//">
	    </figure>

	    <figure class="partner-item">
	      <img src="<%= image_path('img/partners/partner1.png') %>" alt="//">
	    </figure>

	    <figure class="partner-item">
	      <img src="<%= image_path('img/partners/partner2.png') %>" alt="//">
	    </figure>

	    <figure class="partner-item">
	      <img src="<%= image_path('img/partners/partner3.png') %>" alt="//">
	    </figure>

	    <figure class="partner-item">
	      <img src="<%= image_path('img/partners/partner4.png') %>" alt="//">
	    </figure>

	    <figure class="partner-item">
	      <img src="<%= image_path('img/partners/partner2.png') %>" alt="//">
	    </figure>
	  </div>

	  <a class="btn" href="#"><i class="icon-thumbs-up"></i>Хочу стать спонсором</a>
	</div>
      </article>
      <!-- end Gallery -->


      <!-- begin Pricing -->
      <article class="pricing separator" id="pricing">
	<div class="container">
	  <h4>Доступ на онлайн конференцию</h4>
	  <h2>Цена</h2>
	  <div class="row">
	    <div class="col-sm-4">
	      <div class="pricing-item animated" data-animation="pulse" data-animation-delay="400">
		<div class="price"><small></small>5000 рублей</div>
		<strong>Доступ на одну персону</strong>
		<p>MP3 и видео записи сессий будут доступны для прослушивания (скачивания) или просмотра в течение года</p>
		<a href="#" class="btn-pricing"><span data-hover="Buy Ticket">Принять участие</span></a>
	      </div>
	    </div>

	    <div class="col-sm-4">
	      <div class="pricing-item animated" data-animation="pulse" data-animation-delay="800">
		<div class="price"><small>$</small>39</div>
		<strong>Premium Ticket /event</strong>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ratione, in iste error excepturi illum.</p>
		<a href="#" class="btn-pricing"><span data-hover="Buy Ticket">Buy Ticket</span></a>
	      </div>
	    </div>

	    <div class="col-sm-4">
	      <div class="pricing-item animated" data-animation="pulse" data-animation-delay="1200">
		<div class="price"><small>$</small>59</div>
		<strong>Gold Ticket /event</strong>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ratione, in iste error excepturi illum.</p>
		<a href="#" class="btn-pricing"><span data-hover="Buy Ticket">Buy Ticket</span></a>
	      </div>
	    </div>
	  </div>
	</div>
      </article>
      <!-- end Pricing -->


      <!-- begin Map -->
      <article class="map" id="map">
	<div class="container animated" data-animation="rubberBand" data-animation-delay="400">
	  
	</div>
      </article>
      <!-- end Map -->


      <!-- begin Registration -->
      <article class="registration" id="registration">
	<div class="container animated" data-animation="flipInY" data-animation-delay="400">
	  <h4>Do not miss the chance to get the best place</h4>
	  <h2>Принять участие</h2>

	  <form class="form-newsletter" role="form" method="POST" action="contact-form.php" data-ajax="1">
	    <div class="row">
	      <div class="col-md-6">
		<div class="form-group">
		  <label for="registration-name">Name</label>
		  <input name="name" type="text" class="form-control" id="registration-name">
		</div>

		<div class="form-group">
		  <label for="registration-name">Telephone</label>
		  <input name="telephone" type="text" class="form-control" id="registration-telephone">
		</div>
	      </div>
	      <div class="col-md-6">
		<div class="form-group">
		  <label for="registration-email">Email</label>
		  <input name="email" type="email" class="form-control" id="registration-email">
		</div>

		<label for="registration-price">Extra information</label>
		<select class="form-control" id="registration-price">
		  <option>Standrd</option>
		  <option>Premium</option>
		  <option>Gold</option>
		</select>

	      </div>

	    </div>
	    <div class="row">
	      <div class="col-md-12">			
		<div class="form-group">
		  <label for="registration-message">Email your Message</label>
		  <textarea name="message" class="form-control" rows="5" id="registration-message"></textarea>
		</div>
		
		<button type="submit" class="btn-register" data-hover="Register Now"><span>Register Now</span></button>
		<div class="clearfix"></div>
		
		<div class="form-response"></div>
	      </div>
	    </div>
	  </form>
	</div>
      </article>
      <!-- end Registration -->


    </section>
    <!-- end Content -->



    <!-- Footer -->
    <footer>
      <div class="container">
	<p class="copy">Copyright &copy; Conference 2015 / By Mustachethemes</p>
	<ul class="social">
	  <li><a href="#" title="Google" class="animated" data-animation="fadeInUpBig" data-animation-delay="400"><i class="icon-gplus"></i></a></li>
	  <li><a href="#" title="Facebook" class="animated" data-animation="fadeInUpBig" data-animation-delay="600"><i class="icon-twitter"></i></a></li>
	  <li><a href="#" title="Twitter" class="animated" data-animation="fadeInUpBig" data-animation-delay="800"><i class="icon-facebook"></i></a></li>
	</ul>
      </div>
    </footer>
    <!-- end Footer --> 



    <!-- Modal -->
    <div class="modal fade" id="video-modal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg">
	<div class="modal-content">
	  <div class="modal-body">
	    <div class="video-iframe">
	      <iframe src="//www.youtube.com/embed/vzE8d5AXImo" allowfullscreen></iframe>
	    </div>
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-cancel"></i></button>
	  </div>
	</div>
      </div>
    </div>



    <!-- ******************************************************************** -->
    <!-- ************************* Javascript Files ************************* -->

    <!-- jQuery -->
    <%= javascript_include_tag "js/vendors/jquery/jquery-1.9.1.min.js" %>

    <!-- Respond.js media queries for IE8 -->
    <%= javascript_include_tag "js/vendors/respond.min.js" %>

    <!-- Bootstrap-->
    <%= javascript_include_tag "js/vendors/bootstrap.min.js" %>

    <!-- Retina.js -->
    <%= javascript_include_tag "js/vendors/jquery/jquery.nav.js" %>

    <!-- One Page Scroll -->
    <%= javascript_include_tag "js/vendors/jquery/jquery.nav.js" %>

    <!-- Owl Carousel -->
    <%= javascript_include_tag "js/vendors/owl-carousel/owl.carousel.js" %>

    <!-- fancybox -->
    <%= javascript_include_tag "js/vendors/fancybox/jquery.fancybox.js" %>

    <!-- Appear -->
    <%= javascript_include_tag "js/vendors/jquery/jquery.appear.js" %>

    <!-- Placeholder.js -->
    <!--[if lte IE 9]> <%= javascript_include_tag "js/vendors/placeholder.js" %> <script>Placeholder.init();</script> <![endif]-->

    <!-- Gmaps -->
    <script src="http://maps.google.com/maps/api/js?sensor=true" ></script>
    <%= javascript_include_tag "js/vendors/gmaps.js" %>

    <!-- Custom -->
    <%= javascript_include_tag "js/script.js" %>

    <!-- *********************** End Javascript Files *********************** -->
    <!-- ******************************************************************** -->


  </body>
</html>
