<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Define Charset -->
    <meta charset="utf-8"/>
    <!-- Page Title -->
    <title>Вебсарафан.Саммит</title>
    <!-- Responsive Metatag -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <!-- <meta http-equiv="X-UA-Compatible" content="IE=9" />-->
    <!-- CSS -->
    <%= stylesheet_link_tag "css/vendors/bootstrap.min.css" %>
    <!-- Font icons -->
    <%= stylesheet_link_tag "css/vendors/fontello.css" %>
    <!--[if IE 7]>
    <%= stylesheet_link_tag "css/fontello-ie7.css" %>
    <![endif]-->
    <!-- Owl Carousel -->
    <%= stylesheet_link_tag "js/vendors/owl-carousel/owl.carousel.css" %>
    <%= stylesheet_link_tag "js/vendors/owl-carousel/owl.theme.css" %>
    <!-- fancybox.js -->
    <%= stylesheet_link_tag "js/vendors/fancybox/jquery.fancybox.css" %>
    <!-- Animate.css -->
    <%= stylesheet_link_tag "css/vendors/animate.css" %>
    <!-- Custom CSS -->
    <%= stylesheet_link_tag "css/styles.css" %>
    <%= stylesheet_link_tag "css/color/red.css" %>
    <!-- Custom Media-Queties -->
    <%= stylesheet_link_tag "css/media-queries.css" %>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Media queries -->
    <!--[if lt IE 9]>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
  </head>
  <body>
    <script type="text/javascript">(window.Image ? (new Image()) : document.createElement('img')).src = location.protocol + '//vk.com/rtrg?r=TfZGIEkCDskCWgoq2RMaQAM0BDHynvlbya0GShFVl6UY9z3iEhi5cb3jnqjS2SV*QrKMS5yldQnPwpzx16S9ZQb5atCMIfjleK8J5OJkYIRwEj5P4YWsuJ1N/if0Y*vlFWUi0QDTzGs4TAr855oDS8pRlhYaX02MONLO0P7c3Ho-';</script>


    <script type="text/javascript">(window.Image ? (new Image()) : document.createElement('img')).src = location.protocol + '//vk.com/rtrg?r=cwO5AWVbeggbtTQ1y8mzzwhDKA/1VKD31AP0tB3oVuVIPUVdpBu9x88XIRmIORORaEornkGypSt4VhFFcbfuNH5HVsb/HvbqF2LfMofDoW2Qm*dVJd2S053eT7tlrKvxn/vdYz/TNQ2p5wWfAXY8yH6z8hPXUMZtu*VGXhuBn1Y-';</script>
    <!-- begin Header -->
    <header>

      <!-- begin Home -->
      <article class="home parallax" id="home" data-speed="6">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h3>Онлайн-конференция для умных маркетологов</h3>
              <h1>Вы научитесь реально круто продвигать компанию</h1>

              <a class="btn btn-home" href="<%= payment_path %>"><i class="icon-star"></i>Я хочу!</a>
              <%# <a class="btn btn-home show-video" href="#" data-target="#video-modal"><i class="icon-eye"></i>Смотреть видео</a> %>
            </div>
            <div class="col-md-6">
              <figure class="idea animated" data-animation="fadeInUp" data-animation-delay="200" ><img src="<%= image_path('img/light-bulb-4.png') %>" alt="//" /></figure>
              <figure class="women animated" data-animation="fadeInUp" data-animation-delay="400"><img src="<%= image_path('img/women-head.png') %>" alt="//" /></figure>
              <figure class="men animated" data-animation="fadeInUp" data-animation-delay="600"><img src="<%= image_path('img/men-head.png') %>" alt="//" /></figure>
            </div>
          </div>
        </div>

        <div class="top-bar">
          <div class="container animated" data-animation="slideInLeft" data-animation-delay="200">
            <div class="col-xs-6 col-md-3">
              <i class="icon-clock"></i>
              <strong>с 17 по 21 ноября</strong>
              <span>20 спикеров</span>
            </div>
            <div class="col-xs-6 col-md-3">
              <i class="icon-calendar"></i>
              <strong>пять онлайн-сессий</strong>
              <span>с 13-00 до 16-00 ежедневно</span>
            </div>
            <div class="col-xs-6 col-md-3">
              <i class="icon-megaphone"></i>
              <strong>mp3 и видео</strong>
              <span>записи сессий</span>
            </div>
            <div class="col-xs-6 col-md-3">
              <i class="icon-tag"></i>
              <strong>цена</strong>
              <span>5000 рублей</span>
            </div>
          </div>
        </div>

        <!-- begin Navbar -->
        <nav class="navbar" role="navigation">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <!-- <a class="navbar-brand" href="#"><img src="<%= image_path('img/logo.png') %>" alt="//"></a> -->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse">
              <a class="btn" href="<%= payment_path %>"><i class="icon-star"></i>Принять участие</a>
              <ul class="nav navbar-nav menu-effect">
                <li class="active"><a href="#home">Главная</a></li>
                <li><a href="#topics">Темы</a></li>
                <li><a href="#speakers">Эксперты</a></li>
                <li><a href="#program">Программа</a></li>
                <li><a href="#partner">Партнеры</a></li>
                <li><a href="#pricing">Цена</a></li>
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </nav>
        <!-- end Home -->

      </article>
      <!-- end Home -->


    </header>
    <!-- end Header -->



    <!-- begin Content -->
    <section>

      <!-- begin Topics -->
      <article class="topics" id="topics">
        <div class="container">
          <h4>О чем конференция?</h4>
          <h2>Темы</h2>

          <div class="row">
            <div class="col-sm-6 col-md-4 topic-item animated" data-animation="lightSpeedIn" data-animation-delay="200">
              <i class="icon-star"></i>
              <h3>Позиционирование</h3>
              <p>Как четко спозиционировать компанию? Пошаговая механика разработки продающего имиджа компании. Аргументы, которые убеждают.</p>
            </div>
            <div class="col-sm-6 col-md-4 topic-item animated" data-animation="lightSpeedIn" data-animation-delay="200">
              <i class="icon-calendar"></i>
              <h3>Маркетинговая&nbsp;стратегия</h3>
              <p>Как выстроить маркетинг в каждой отдельной компании? Составляем понедельный маркетинговый план.</p>
            </div>
            <div class="col-sm-6 col-md-4 topic-item animated" data-animation="lightSpeedIn" data-animation-delay="200">
              <i class="icon-chart-line"></i>
              <h3>Продающий сайт</h3>
              <p>Как вызвать у клиента ощущения, которые будут стимулировать покупку? Формы, кнопки и цвета на сайте, которые приводят клиентов.</p>
            </div>
            <div class="col-sm-6 col-md-4 topic-item animated" data-animation="lightSpeedIn" data-animation-delay="200">
              <i class="icon-retweet"></i>
              <h3>Каналы продвижения</h3>
              <p>Как выбрать канал продвижения, который подходит именно моей компании? Где давать рекламу? Выбираем между Вконтакте, Facebook, Twitter и Instagram.</p>
            </div>
            <div class="col-sm-6 col-md-4 topic-item animated" data-animation="lightSpeedIn" data-animation-delay="200">
              <i class="icon-database"></i>
              <h3>Рекламный бюджет</h3>
              <p>Как продвигать компанию в интернете, не сливая бюджет? Как считать конверсию сайта и развернуть систему аналитики, чтобы оцифровать все значимые процессы?</p>
            </div>
            <div class="col-sm-6 col-md-4 topic-item animated" data-animation="lightSpeedIn" data-animation-delay="200">
              <i class="icon-book-open"></i>
              <h3>Контент-маркетинг</h3>
              <p>Что писать на сайте или в соцсетях? Что такое контент-план, и зачем он вам нужен? Где взять много хорошего контента?</p>
            </div>
          </div>

        </div>
      </article>
      <!-- end Topics -->
      
      <!-- begin Benefits -->
      <% if benefits = Query[:benefits] %>
      <article class="topics" id="topics">
        <div class="container">
          <h2>Что вы получите?</h2>

          <div class="row">
	    <% benefits.each do |benefit|%>
              <div class="col-sm-6 col-md-6 topic-item animated" data-animation="lightSpeedIn" data-animation-delay="200">	      
		<i class="icon-check"></i>
		<h3><%= benefit.title %></h3>
		<p><%= benefit.desc %></p>
              </div>
	    <% end %>
	  </div>
	</div>
      </article>
	
      <% end %>
      <!-- end Benefits -->

      <!-- begin Speakers -->
      <article class="speakers" id="speakers">
        <h4>Кто будет вас обучать?</h4>
        <h2>Эксперты</h2>

        <div id="carousel-speakers" class="carousel slide animated" data-animation="fadeIn" data-animation-delay="200" data-ride="carousel">
          <!-- Wrapper for slides -->
	  <% speakers_blocks = Query[:speakers].each_slice(4) %>
	   <div class="carousel-inner">
	     <% speakers_blocks.each_with_index do |speakers, index| %>
	       <div class="item<%= index == 0 ? ' active' : '' %>">
		 <% speakers.each do |speaker| %>
		   <figure class="speakers-item">
		     <img src="<%= speaker.gen_avatar_link.call(self) %>">
		     <div class="txt">
		       <h3><%= speaker.name %></h3>
		     </div>
		     <span class="overthumb"></span>
		     <div class="icons">
		       <h3><%= speaker.name %></h3>
		       <br>
		       <p><%= speaker.desc %></p>
		       <a href="<%= speaker.facebook %>"><i class="icon-facebook"></i></a>
		     </div>
		   </figure>
		 <% end %>
	       </div>
	     <% end %>
	   </div>


	   <!-- Indicators -->
	   <ol class="carousel-indicators">
	     <% speakers_blocks.each_with_index do |_, index| %>
	       <li data-target="#carousel-speakers" data-slide-to="<%= index%>" class="<%= if index.zero?; 'active'; end %>"><%= index + 1 %></li>
	     <% end %>
          </ol>
        </div>

      </article>
      <!-- end Speakers -->

      <!-- begin Program -->
      <article class="program" id="program">
        <div class="container">
          <h4>Чему вы научитесь?</h4>
          <h2>Программа</h2>
          <div class="panel-group animated" data-animation="fadeInDown" data-animation-delay="1000" id="program-accordion">
            <% Query[:schedule].each_with_index do |day, i| %>
              <% day_id = "day#{i}" %>
              <div class="panel">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#program-accordion" href="#<%= day_id %>">
                      <i class="icon-calendar"></i> День <%= i+1 %> <small><%= day.headline %>  - <%= I18n.l(day.date, format: :long) %></small><i class="icon-plus-circled"></i>
                    </a>
                  </h4>
                </div>
                <div id="<%= day_id %>" class="panel-collapse collapse<%= if i.zero?; ' in'; end%>">
                  <div class="panel-body">
                    <% day.talks.each do |talk| %>
                      <div class="program-accordion-item clearfix">
                        <figure>
                          <img src="<%= talk.speaker.gen_avatar_link.call(self) %>" alt="//">
                          <figcaption>
                            <span><i class="icon-clock"></i><%= talk.time %></span>
                            <%# <span><i class="icon-user"></i>Designer</span> %>
                          </figcaption>
                        </figure>
                        <h3><%= talk.title %></h3>
                        <ul>
                          <% talk.topics.each do |topic|%>
                            <li><%= topic %></li>
                          <% end %>
                        </ul>
                        <div class="foot">
                          <div class="name"><i class="icon-mic"></i><%= talk.speaker.name %></div>
                          <!--
                          <div class="pro">Designer at Montra</div> -->
                          <div class="links">
                            <a href="<%= talk.speaker.facebook %>"><i class="icon-facebook"></i></a>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>

	<!-- begin Testimonials -->
	<article class="testimonials parallax" id="testimonials" data-speed="6">
          <div class="container">
            <div id="owl-testimonials" class="owl-carousel animated" data-animation="bounceInRight" data-animation-delay="200" >
              <div class="item">
		<figure><img src="<%= image_path('review_author_0.jpg') %>" alt="//"></figure>
		<p>&quot;Я вас очень люблю и ценю, уверена, конференция будет полезна для широкого круга людей. Я занимаюсь продвижением в соцсетях, развитием каналов на YouTube. Также работаю над интернет-магазином вязаных вещей ручной работы. Каждый день саммита по-своему интересен. Жду с нетерпением!&quot;</p>
		<div class="author clearfix">
                  <i class="icon-chat"></i>
                  <h5>Алина Лунёва</h5>
                  <em>участник конференции</em>
		</div>
              </div>
            </div>
          </div>
	</article>
	<!-- end Testimonials -->

	<!-- begin Patner -->
	<article class="partner animated" data-animation="fadeInUp" data-animation-delay="600" id="partner">
          <div class="container">
            <h4>Благодарим наших спонсоров</h4>
            <h2>Партнеры</h2>

            <div class="owl-carousel" id="owl-partner">
              <figure class="partner-item">
		<img src="<%= image_path('websarafan.png') %>" alt="websarafan logo">
              </figure>

              <figure class="partner-item">
		<img src="<%= image_path('img/partners/partner1.png') %>" alt="//">
              </figure>

              <figure class="partner-item">
		<img src="<%= image_path('img/partners/partner1.png') %>" alt="//">
              </figure>

              <figure class="partner-item">
		<img src="<%= image_path('img/partners/partner3.png') %>" alt="//">
              </figure>
            </div>

            <a class="btn" href="mailto:taisiya@websarafan.ru"><i class="icon-thumbs-up"></i>Хочу стать спонсором</a>
          </div>
	</article>
	<!-- end Gallery -->


	<!-- begin Pricing -->
	<article class="pricing separator" id="pricing">
          <div class="container">
            <h4>Доступ на онлайн-конференцию</h4>
            <h2>Цена</h2>
            <div class="row">
              <div class="col-sm-4 col-sm-offset-4">
		<div class="pricing-item animated" data-animation="pulse" data-animation-delay="400">
                  <div class="price"><small></small>5000 рублей</div>
                  <strong>Доступ на одну персону</strong>
                  <p>MP3 и видео записи сессий будут доступны для прослушивания (скачивания) или просмотра в течение года</p>
                  <a href="<%= payment_path %>" class="btn-pricing"><span data-hover="Купить доступ">Принять участие</span></a>
		</div>
              </div>

            </div>
          </div>
	</article>
	<!-- end Pricing -->

    </section>
    <!-- end Content -->

    <!-- Footer -->
    <footer>
      <div class="container">
        <p class="copy">Copyright &copy; Websarafan.ru 2014 </p>
        <ul class="social">
          <li><a href="#" title="Google" class="animated" data-animation="fadeInUpBig" data-animation-delay="400"><i class="icon-gplus"></i></a></li>
          <li><a href="#" title="Facebook" class="animated" data-animation="fadeInUpBig" data-animation-delay="600"><i class="icon-facebook"></i></a></li>
          <li><a href="#" title="Twitter" class="animated" data-animation="fadeInUpBig" data-animation-delay="800"><i class="icon-twitter"></i></a></li>
        </ul>
      </div>
    </footer>
    <!-- end Footer -->



    <!-- Modal -->
    <div class="modal fade" id="video-modal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-body">
            <div class="video-iframe">
              <iframe src="//www.youtube.com/embed/vzE8d5AXImo" allowfullscreen></iframe>
            </div>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-cancel"></i></button>
          </div>
        </div>
      </div>
    </div>



    <!-- ******************************************************************** -->
    <!-- ************************* Javascript Files ************************* -->

    <!-- jQuery -->
    <%= javascript_include_tag "js/vendors/jquery/jquery-1.9.1.min.js" %>

    <!-- Respond.js media queries for IE8 -->
    <%= javascript_include_tag "js/vendors/respond.min.js" %>

    <!-- Bootstrap-->
    <%= javascript_include_tag "js/vendors/bootstrap.min.js" %>

    <!-- Retina.js -->
    <%= javascript_include_tag "js/vendors/jquery/jquery.nav.js" %>

    <!-- One Page Scroll -->
    <%= javascript_include_tag "js/vendors/jquery/jquery.nav.js" %>

    <!-- Owl Carousel -->
    <%= javascript_include_tag "js/vendors/owl-carousel/owl.carousel.js" %>

    <!-- fancybox -->
    <%= javascript_include_tag "js/vendors/fancybox/jquery.fancybox.js" %>

    <!-- Appear -->
    <%= javascript_include_tag "js/vendors/jquery/jquery.appear.js" %>

    <!-- Placeholder.js -->
    <!--[if lte IE 9]> <%= javascript_include_tag "js/vendors/placeholder.js" %> <script>Placeholder.init();</script> <![endif]-->

    <!-- Custom -->
    <%= javascript_include_tag "js/script.js" %>

    <!-- *********************** End Javascript Files *********************** -->
    <!-- ******************************************************************** -->

    <style>
     .program-accordion-item li {
       list-style-type: none;
     }
    </style>
    <script>
     (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
     })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

     ga('create', 'UA-55525199-2', 'auto');
     ga('require', 'displayfeatures');
     ga('require', 'linkid', 'linkid.js');
     ga('send', 'pageview');
     
    </script>
    
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
     (function (d, w, c) {
       (w[c] = w[c] || []).push(function() {
	 try {
	   w.yaCounter26811771 = new Ya.Metrika({id:26811771,
						 webvisor:true,
						 clickmap:true,
						 trackLinks:true,
						 accurateTrackBounce:true});
	 } catch(e) { }
       });
       
       var n = d.getElementsByTagName("script")[0],
       s = d.createElement("script"),
       f = function () { n.parentNode.insertBefore(s, n); };
       s.type = "text/javascript";
       s.async = true;
       s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";
       
       if (w.opera == "[object Opera]") {
	 d.addEventListener("DOMContentLoaded", f, false);
       } else { f(); }
     })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="//mc.yandex.ru/watch/26811771" style="position:absolute; left:-9999px;" alt="""">
  </body>
</html>
