<!-- begin Speakers -->
<article class="speakers" id="speakers">
  <h2>Кто говорит</h2>
  <div id="carousel-speakers" class="carousel slide animated" data-animation="fadeIn" data-animation-delay="200" data-ride="carousel">
    <!-- Wrapper for slides -->
    <% speakers_blocks = Query[:speakers].each_slice(4) %>
    <div class="carousel-inner">
      <% speakers_blocks.each_with_index do |speakers, index| %>
        <div class="item<%= index == 0 ? ' active' : '' %>">
          <% speakers.each do |speaker| %>
            <figure class="speakers-item">
              <img src="<%= speaker.gen_avatar_link.call(self) %>">
              <div class="txt">
                <h3><%= speaker.name %></h3>
              </div>
              <span class="overthumb"></span>
              <div class="icons">
                <h3><%= speaker.name %></h3>
                <br>
                <p><%= speaker.desc %></p>
                <a href="<%= speaker.facebook %>"><i class="icon-facebook"></i></a>
              </div>
            </figure>
          <% end %>
        </div>
      <% end %>
    </div>


    <!-- Indicators -->
    <ol class="carousel-indicators">
      <% speakers_blocks.each_with_index do |_, index| %>
        <li data-target="#carousel-speakers" data-slide-to="<%= index%>" class="<%= if index.zero?; 'active'; end %>"><%= index + 1 %></li>
        <% end %>
    </ol>
  </div>
</article>
<!-- end Speakers -->

<!-- begin Topics -->
<article class="topics" id="topics">
  <div class="container">
    <h2>О чем говорит</h2>

    <div class="row">
      <div class="col-sm-6 col-md-4 topic-item" data-animation="lightSpeedIn" data-animation-delay="200">
        <i class="icon-star"></i>
        <h3>Позиционирование</h3>
        <p>Как четко спозиционировать компанию? Пошаговая механика разработки продающего имиджа компании. Аргументы, которые убеждают.</p>
      </div>
      <div class="col-sm-6 col-md-4 topic-item" data-animation="lightSpeedIn" data-animation-delay="200">
        <i class="icon-calendar"></i>
        <h3>Маркетинговая&nbsp;стратегия</h3>
        <p>Как выстроить маркетинг в каждой отдельной компании? Составляем понедельный маркетинговый план.</p>
      </div>
      <div class="col-sm-6 col-md-4 topic-item" data-animation="lightSpeedIn" data-animation-delay="200">
        <i class="icon-chart-line"></i>
        <h3>Продающий сайт</h3>
        <p>Как вызвать у клиента ощущения, которые будут стимулировать покупку? Формы, кнопки и цвета на сайте, которые приводят клиентов.</p>
      </div>
      <div class="col-sm-6 col-md-4 topic-item" data-animation="lightSpeedIn" data-animation-delay="200">
        <i class="icon-retweet"></i>
        <h3>Каналы продвижения</h3>
        <p>Как выбрать канал продвижения, который подходит именно моей компании? Где давать рекламу? Выбираем между Вконтакте, Facebook, Twitter и Instagram.</p>
      </div>
      <div class="col-sm-6 col-md-4 topic-item" data-animation="lightSpeedIn" data-animation-delay="200">
        <i class="icon-database"></i>
        <h3>Рекламный бюджет</h3>
        <p>Как продвигать компанию в интернете, не сливая бюджет? Как считать конверсию сайта и развернуть систему аналитики, чтобы оцифровать все значимые процессы?</p>
      </div>
      <div class="col-sm-6 col-md-4 topic-item" data-animation="lightSpeedIn" data-animation-delay="200">
        <i class="icon-book-open"></i>
        <h3>Контент-маркетинг</h3>
        <p>Что писать на сайте или в соцсетях? Что такое контент-план, и зачем он вам нужен? Где взять много хорошего контента?</p>
      </div>
    </div>

  </div>
</article>
<!-- end Topics -->

<!-- begin Program -->
<article class="program" id="program">
  <div class="container">
    <h2>Как это будет</h2>
    <div class="panel-group" data-animation="fadeInDown" data-animation-delay="1000" id="program-accordion">
      <% Query[:schedule].each_with_index do |day, i| %>
        <% day_id = "day#{i}" %>
        <div class="panel">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#program-accordion" href="#<%= day_id %>">
                <i class="icon-calendar"></i> День <%= i+1 %> <small><%= day.headline %>  - <%= I18n.l(day.date, format: :long) %></small><i class="icon-plus-circled"></i>
               </a>
            </h4>
          </div>
          <div id="<%= day_id %>" class="panel-collapse collapse<%= if i.zero?; ' in'; end%>">
             <div class="panel-body">
               <% day.talks.each do |talk| %>
                 <div class="program-accordion-item clearfix">
                   <figure>
                     <img src="<%= talk.speaker.gen_avatar_link.call(self) %>" alt="//">
                     <figcaption>
                       <span><i class="icon-clock"></i><%= talk.time %></span>
                       <%# <span><i class="icon-user"></i>Designer</span> %>
                     </figcaption>
                   </figure>
                   <h3><%= talk.title %></h3>
                   <ul>
                     <% talk.topics.each do |topic|%>
                       <li><%= topic %></li>
                     <% end %>
                   </ul>
                   <div class="foot">
                     <div class="name"><i class="icon-mic"></i><%= talk.speaker.name %></div>
                     <!--
                     <div class="pro">Designer at Montra</div> -->
                     <div class="links">
                       <a href="<%= talk.speaker.facebook %>"><i class="icon-facebook"></i></a>
                     </div>
                   </div>
                 </div>
               <% end %>
             </div>
          </div>
        </div>
          <% end %>
    </div>
  </div>
</article>

<!-- begin Benefits -->
<% if benefits = Query[:benefits] %>
  <article class="topics" id="benefits">
    <div class="container">
      <h2>Зачем это надо</h2>

      <div class="row">
        <% benefits.each do |benefit|%>
          <div class="col-sm-6 col-md-6 topic-item" data-animation="lightSpeedIn" data-animation-delay="200">
            <i class="icon-check"></i>
            <h3><%= benefit.title %></h3>
            <p><%= benefit.desc %></p>
          </div>
        <% end %>
      </div>
    </div>
  </article>
<% end %>
<!-- end Benefits -->

<!-- begin Testimonials -->
<article class="testimonials parallax" id="testimonials" data-speed="6">
  <div class="container">
    <div id="owl-testimonials" class="owl-carousel" data-animation="bounceInRight" data-animation-delay="200" >
      <div class="item">
        <figure><img src="<%= image_path('review_author_0.jpg') %>" alt="//"></figure>
        <p>&quot;Я вас очень люблю и ценю, уверена, конференция будет полезна для широкого круга людей. Я занимаюсь продвижением в соцсетях, развитием каналов на YouTube. Также работаю над интернет-магазином вязаных вещей ручной работы. Каждый день саммита по-своему интересен. Жду с нетерпением!&quot;</p>
        <div class="author clearfix">
          <i class="icon-chat"></i>
          <h5>Алина Лунёва</h5>
          <em>участник конференции</em>
        </div>
      </div>
    </div>
  </div>
</article>
<!-- end Testimonials -->

<!-- begin Patner -->
<article class="partner" data-animation="fadeInUp" data-animation-delay="600" id="partner">
  <div class="container">
    <h4>Благодарим наших спонсоров</h4>
    <h2>Партнеры</h2>

    <div class="owl-carousel" id="owl-partner">
      <figure class="partner-item">
        <img src="<%= image_path('websarafan.png') %>" alt="websarafan logo">
      </figure>

      <figure class="partner-item">
        <img src="<%= image_path('img/partners/partner1.png') %>" alt="//">
      </figure>

      <figure class="partner-item">
        <img src="<%= image_path('img/partners/partner1.png') %>" alt="//">
      </figure>

      <figure class="partner-item">
        <img src="<%= image_path('img/partners/partner3.png') %>" alt="//">
      </figure>
    </div>

    <a class="btn" href="mailto:taisiya@websarafan.ru"><i class="icon-thumbs-up"></i>Хочу стать спонсором</a>
  </div>
</article>
<!-- end Gallery -->

<!-- begin Pricing -->
<article class="pricing separator" id="pricing">
  <div class="container">
    <h4>Доступ на онлайн-конференцию</h4>
    <h2>Цена</h2>
    <div class="row">
      <% I18n.t('pricing').each do |(product, t)| %>
        <div class="col-sm-4">
          <div class="pricing-item" data-animation="pulse" data-animation-delay="400">
            <div class="price"><small></small><%= Query[:price, product.to_sym][:amount] %> рублей</div>
            <strong><%= t[:label] %></strong>
            <p><%= t[:desc] %></p>
            <a href="<%= payment_path(product: product, code: params[:code]) %>" class="btn-pricing"><span data-hover="<%= t[:button_hover] %>"><%= t[:button] %></span></a>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</article>
<!-- end Pricing -->

<div class="container">
  <div class="row">
    <h5>Остались вопросы? Вам удобнее оплатить участие со счета юр. лица? Напишите нам на <a href="mailto:team@websarafan.ru">team@websarafan.ru</a></h5>
    <div>
      <a href="<%= privacy_path %>" target="_blank">Соглашение об обработке персональных данных</a>
    </div>
  </div>
</div>
