<% content_for(:title) { "Расписание - Вебсарафан.Саммит" } %>
<div class="row">
  <div class="large-12 columns">
    <h1 class="text-center">Расписание</h1>

<% Query[:schedule].each_with_index do |day, i| %>
<% day_id = "day#{i}" %>
<h5><%= I18n.l(day.date, format: "%-d %B") %>. День <%= i+1 %>.</h5>
<em><%= day.headline %></em>
<pre>
<% day.talks.each do |talk| %>
<%= talk.time %> <%= talk.title %> (<%= talk.speaker.name %>)
</pre>
<% end %>
<br><br>
<% end %>

  </div>
</div>
