<% content_for(:title) { "Расписание - Вебсарафан.Саммит" } %>
<div class="row">
  <div class="large-12 columns">
    <h1 class="text-center">Расписание</h1>

<% Query[:schedule].each_with_index do |day, i| %>
<% day_id = "day#{i}" %>
<h5><%= I18n.l(day.date, format: "%-d %B") %>. День <%= i+1 %>.</h5>
<em><%= day.headline %></em>
<ul>
<% day.talks.each do |talk| %>
<li><%= talk.time %> <%= talk.title %> (<a href="<%= talk.speaker.gen_profile_link.call(self) %>"><%= talk.speaker.name %></a>)</li>
<% end %>
</ul>
<br><br>
<% end %>

  </div>
</div>

<style>
  ul { margin-left: 0; }
</style>
