<% content_for(:title) { "Спикеры - Вебсарафан.Саммит" } %>
<% @speakers.each do |name, desc, photo, profile| %>
  <div class="row">
    <div class="medium-2 small-12 columns">
      <a href="<%= profile %>">
	<img src="<%= image_path(photo) %>">
      </a>
    </div>
    <div class="medium-10 small-12 columns">
      <a href="<%= profile %>"><%= name %></a>. <%= desc %>
    </div>
  </div>
<% end %>
  
