<script type="text/javascript">(window.Image ? (new Image()) : document.createElement('img')).src = location.protocol + '//vk.com/rtrg?r=KJdAkIiTIlSY2bidDYANFgc9yyw8laqH8pMqcj2LK2d078Xm7XR3DNpT6QlWckpmQ8RdW**RIIee6KPeGUis9Ghy7N0YvF6OG6TK1vlnCd*oBacM9MUKT1Tr9mQNXylYbYd2zIiPoqSh/zjVy6PC0ycT0H8A82ti10Qo1YACLWE-';</script>
<script type="text/javascript">(window.Image ? (new Image()) : document.createElement('img')).src = location.protocol + '//vk.com/rtrg?r=0RnTh20RPZ4wA/oxU4CCu65eqEoGg6eHGrp5tHv9qzyyLqtKNsLe7lBTgCH933ZisxxxnPd9Hc4GxkZLMG1H1VOSqVMG6CJX*YamuDOsx1WWkQn*7iYeW/2FS2pRpBeAbG4xBgjLPYUCVjA3XnM0mz/b7K3h4v8dBLBD5PlUcTA-';</script>

<div class="row">
  <div class="small-6 columns">
    <img src="<%= image_path('red.jpg') %>">
    <div class="reason">
      <em><i class="fi-star"></i></em>
      <p>5 дней, 20 экспертов индустрии развития и продвижения бизнеса. Шаг за шагом они расскажут, что делать, чтобы вы перестали беспокоиться за продажи своего бизнеса и начали заниматься тем, что вам нравится. Вы делаете бизнес, а продажи идут.
      </p>
    </div>

    <div class="text-center">
      <a href="<%=payment_adv_path%>" class="button" role="button">Присоединяйтесь!</a>
    </div>

  </div>

  <div class="small-6 columns">
    <img src="<%= image_path('valentino5.jpg') %>">
  </div>

</div>


<div class="row">
  <div class="small-12 columns">

    <div class="reason">
      <em><i class="fi-star"></i><i class="fi-star"></i></em>
      <p>Вы узнаете бессчетное количество успешных примеров других предпринимателей, научитесь создавать правильный имидж, общаться со своими клиентами, поймете, что писать на сайте, как работать с социальными сетями, чтобы ваш бизнес, наконец, начал продавать, а вы – получать доход и удовольствие от работы.
      </p>
    </div>

    <div class="reason">
      <em><i class="fi-star"></i><i class="fi-star"></i><i class="fi-star"></i></em>
      <p>Курс включает 20 часовых оналайн-вебинаров, чтобы вы могли обучаться в спокойной домашней обстановке, создавая свой продающий бизнес вместе с экспертами.
      </p>
    </div>
    
    <div class="reason">
      <em><i class="fi-star"></i><i class="fi-star"></i><i class="fi-star"></i><i class="fi-star"></i></em>
      <p>Во время вебинаров вы пообщаетесь с лидерами (мы не преувеличиваем) российского рынка продвижения бизнеса онлайн и оффлайн. Это люди, которые в данную минуту помогают сотням других предпринимателей продавать свой продукт или сервис. Практически у каждого свой собственный бизнес, так что это не просто болтовня. Это практика, помноженная на экспертизу.
      </p>
    </div>
    
  </div>
</div>

<div class="row what-you-learn">
  <div class="small-12 columns text-center">
    <h2> Чему вы научитесь? </h2>
  </div>
  <div class="small-12 large-8 columns large-centered">
    <h3>Рассказывать о себе так, чтобы у вас покупали:</h3>
    <ul>
      <li>Какими реальными аргументами убеждать клиентов купить именно у вас?</li>
      <li>Как писать так, чтобы клиент делал то, что вы хотите?</li>
      <li>Как перестать бегать за клиентами и получить очередь желающих сделать у вас покупку?</li>
      <li>Как создать цепляющий имидж своей компании (даже если она очень маленькая)?</li>
    </ul>
    
    <h3>Получать клиентов с сайта:</h3>
    <ul>
      <li>Что должно быть на сайте, чтобы он приводил клиентов? </li>
      <li>Какие элементы на сайте преодолеют барьер недоверия и склонят покупателя к покупке? </li>
      <li>Какими должны быть формы, кнопки, цвета и элементы вашего продающего сайта?</li>

    </ul>
    <h3>Продавать в социальных сетях:</h3>
    <ul>
      <li>Какой из социальных сетей пользоваться? </li>
      <li>Что писать в социальных сетях, где брать материал для постов?</li>
      <li>Как составить понедельный маркетинговый план продвижения в соцсетях?</li>
      
    </ul>
    <h3>Рекламироваться эффективно:</h3>
    <ul>
      <li>Как подсчитать эффективность интернет-рекламы?</li>
      <li>Как определить, стоит ли вкладывать деньги в рекламный ресурс?</li>
      <li>Где давать рекламу вашего бизнеса?</li>
      <li>Как продвигать компанию, когда мало денег?</li>
    </ul>
  </div>
</div>

<div class="row what-you-learn">
  <div class="small-12 columns text-center">
    <h2>Наши эксперты</h2>    
  </div>

  <div class="row text-center">
    <div class="small-4 columns">
      <div><img src="<%= image_path('speakers/ДмитрийРумянцев.jpg') %>"></div>
      <b>Дмитрий Румянцев</b> 
      <p>Автор книги - бестселлера «Продвижение ВКонтакте», создатель группы вконтакте «Маркетинг от А до Я» (40 тыс подписчиков), владелец кафе «Книги и кофе»</p>
    </div>

    <div class="small-4 columns">
      <div><img src="<%= image_path('speakers/МаксимПлосконосов.jpg') %>"></div>
      <b>Максим Плосконосов</b> 
      <p>Сооснователь компании LPGenerator (оборот компании 100 млн рублей)</p>
      
    </div>

    <div class="small-4 columns">
      <div><img src="<%= image_path('speakers/ОльгаПровоторова.jpg') %>"></div>
      <b>Ольга Провоторова</b> 
      <p>бренд-директор Tissot, Bourjois и Paco Rabanne. Сейчас владеет эвент – агентством в Венеции EVENTUALE</p>
    </div>

  </div>

  <div class="row text-center">
    <div class="small-4 columns">
      <div><img src="<%= image_path('speakers/СергейСкорбенко.jpg') %>"></div>
      <b>Сергей Скорбенко</b> 
      <p>Преподаватель Высшей школы бизнеса МГУ, Генеральный директор компании Will Digital Agency,  которая занимается увеличением интернет-продаж (30 человек в команде)</p>
    </div>

    <div class="small-4 columns">
      <div><img src="<%= image_path('speakers/ОльгаЮрковская.jpg') %>"></div>
      <b>Ольга Юрковская</b> 
      <p>Эксперт по малобюджетному маркетингу. Экономист, юрист, преподаватель психологии, коуч. Консультирует по управлению бизнесом. Ведет свою колонку на «Снобе», часто выступает на профессиональных конференциях</p>  
    </div>

    <div class="small-4 columns wow">
      И еще <em style="font-size: 10em;">15</em> экспертов, которые уже помогли читателям Websarafan.ru! 
    </div>

  </div>

  <div class="row people-say">
    <div class="small-12 columns text-center">
      <h2>Что говорят наши читатели</h2>    
    </div>
    <div class="small-12 large-8 columns large-centered">
      <blockquote>Ваш портал очень люблю и ценю, уверена, саммит будет полезным для широкого круга людей. Я занимаюсь продвижением в соцсетях, развитием каналов на YouTube. Также планирует сделать интернет-магазин вязаных вещей ручной работы. 
Каждый день саммита по-своему интересен. Жду с нетерпением! <cite>Ольга</cite></blockquote>

      <blockquote>Спасибо за отличный ваш ресурс, очень помогает в реальной работе, особенно мне, начинающему SMM-специалисту. Стала использовать Ваши материалы каждый день в качестве «подстрочника». Благодаря вам, вашей команде и вашему проекту появляется ощущение, что я справлюсь с этой задачей - развитие собственного блога. <cite>Вера</cite></blockquote>

      <blockquote>Спасибо за материалы! Ваши рекомендации применяю у себя на сайте. Буду ждать новых знаний и применять их! <cite>Елена</cite></blockquote>

    </div>
  </div>

  <div class="text-center">
    <a href="<%=payment_adv_path%>" class="button cta" role="button">Начните привлекать клиентов прямо сейчас!</a>
  </div>

</div>

<style>
  .reason {
  margin-top: 4rem;
  text-align: center;
  }
  .reason p {
  font-size: 1.4em;  
  padding-bottom: 1.4rem;
  }
  .reason > em {
  font-size: 2em;
  }
  .what-you-learn li {
  font-size: 1.2em;
  list-style-type: none;
  }
  .what-you-learn h3 {  
  font-style: italic;
  }

  .what-you-learn h2 {  
  font-weight: bolder;
  margin-bottom: 1.5rem;
  }

  .cta {
  font-size: 2em;
  margin-top: 2rem;
  margin-bottom: 4rem;
  }

</style>
