<% content_for(:body) do %>

<div id='wrapper'>
  <div class="row menu">
    <div class="small-12">
      <img src="<%= image_path('head.png') %>" />
      <ul class="inline-list">
	<li><a href="<%= root_path %>">главная</a></li>
	<li><a href="<%= speakers_path %>">спикеры</a></li>
	<li><a href="<%= schedule_path %>">расписание</a></li>
      </ul>

    </div>
  </div>

  <section role="main"> <%= yield %> </section>

  <div class="row footer">
    <div class="small-12">
    </div>
  </div>

</div>

<% end %>
<%= render template: 'layouts/application' %>
